
.menu{
    list-style-type: none;
  margin: 0;
  padding: 0px;
  position: fixed;
  top:0;
  width: 99%;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color:rgb(0);opacity:0.7;
  border-radius: 20px;
  
}

.menu a {
    text-decoration: none;
    color: blueviolet;

}

.menu1{
    float: left;
    display: block;
    box-sizing:border-box;
   padding: 10px; 
  text-emphasis-color: white;

  /*   border-right: 0.5px solid blueviolet; */
  
}


img {
    border-radius: 8px;
  }

.img1{
    max-width: 100%;
    height: auto;
}

 .img2{ display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}  


.active {
    background-color: lightgray;
}
body{

    background-image: url(white.jpg);
    background-position-x:0;
}

p{
    margin: 15px;
    text-align: justify;
    box-sizing: border-box;
    color: black;
    font-size: 18px;
    
}

ul{
    color: black;
    font-size: 18px;
}

li{
    color: black;
    font-size: 18px;
}

h4 {
    margin: 10px;
    text-align: start;
    color: blueviolet;
    font-style: arial;
}
.h{
    color: black;
}



.flex-container {
    background-color: lightgray;
    display: flex;
    flex-direction: row;
 }

 .flex-container > div {
    background-color: #f1f1f1; 
    width: 100%;
    margin: 1px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
 }
 .about{
    font-size: 21px;
    text-align: left;
     
 }
 .right {
    float: right;
    width: 50%;
    padding: 150px;
   
  }

 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 20px;
    text-align: center;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }