body{

    background-image: url(white.jpg);
    background-position-x:0;
}
.menu{
    list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu1{
    float: left;
    display: block;
  padding: 10px;
  background-color: #dddddd;
  border-right: 1px solid;
}
p{
    color: black;
    font-size: 18px;
}
ul{
    color: black;
    font-size: 18px;
}


h4 {
    color: blueviolet;
    font-style: arial;
}